Simplified RAG Chatbot with Memory
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful chat assistant designed to help customers with their queries, all the date is in vector store tool so go through it each time you are asked a question, you may throw some jokes and emojis to keep keep the chat personalized"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        -20
      ],
      "id": "0d7e02c9-a659-4b56-bb75-733968a4bd67",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        160
      ],
      "id": "a5a27765-4598-46cf-b8ea-0a46b4bd1d9a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tWQuG2jQDyuPN4cP",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.messageId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        160
      ],
      "id": "a65f5dad-e561-4c22-ab90-a3fb573a3784",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        280
      ],
      "id": "81f7aa6f-f9f7-4856-8d28-bc16a1f4d702",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "tWQuG2jQDyuPN4cP",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "Data",
        "toolDescription": "use this to answer users question",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {
          "pineconeNamespace": "VB"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        440,
        140
      ],
      "id": "a32caf1e-8f71-4696-8f51-7a692d5c0e33",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "1jZorb0oX09KVcb1",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a415e512-c15a-40ff-aae0-dc116faa5525",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        0
      ],
      "id": "27eb1093-089e-41ac-a791-d11cd1dd603d",
      "name": "Webhook",
      "webhookId": "a415e512-c15a-40ff-aae0-dc116faa5525"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        -20
      ],
      "id": "a9894cf3-4513-400b-bba8-96a72da80673",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c9022fab5e98f888acca230e4dbcc338e09adfb5d320403903c6b819ba734e1d"
  }
}
